{% extends "base.html" %}

{% block content %}
  <h1>Админ-панель</h1>
  <p>Администратор: {{ admin_login }}</p>
  <p>Email: {{ admin_email }}</p>

  <nav>
    <ul>
      <li>Пользователи - будет добавлено позже</li>
      <li>Тарифы - будет добавлено позже</li>
      <li>Платные опции - будет добавлено позже</li>
      <li>Материалы - будет добавлено позже</li>
      <li>Платежи - будет добавлено позже</li>
    </ul>
  </nav>

  <p>Это только каркас админ-раздела. CRUD и настройки появятся следующим этапом.</p>
  <p><a href="/cabinet">В кабинет</a> <a href="/">На главную</a></p>
{% endblock %}
